.budget-card {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 550px;
  margin: 20px auto;
  background-color: #ffffff;
  color: #004c99;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 76, 153, 0.1);
  transition: box-shadow 0.3s, filter 0.3s ease-in-out;
  cursor: pointer;
}
  
  .budget-card.hovered {
    box-shadow: 0 15px 35px rgba(0, 76, 153, 0.15);
  }
  
  .pencil-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #004c99;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .budget-card.hovered .pencil-icon {
    opacity: 1;
  }
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    text-align: left;
  }
  
  .progress-container {
    width: 100px;
    height: 100px;
  }
  
  .expense-info {
    text-align: left;
  }
  
  .expense-info h3 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .expense-info p {
    margin: 5px 0 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #003366;
  }

  .no-budget-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  
  .no-budget-illustration {
    max-width: 150px;
    height: auto;
    flex-shrink: 0;
  }
  
  .no-budget-container h3 {
    font-size: 1.6rem;
    color: #004c99;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .no-budget-container p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 0;
  }
  